---
import type { Global } from "@/types";
import Wrapper from "./Wrapper.astro";

const global: Global = Astro.props.global;
---

<footer class="spacingTop pb-8">
  <Wrapper>
    <div class="lg:flex lg:justify-between lg:items-end">
      <h5 class="text-mobile-bu lg:text-bu">{global.footerContactLabel}</h5>
      <a
        class="text-mobile-bu lg:text-copy"
        href={global.footerContactLink.href}>{global.footerContactLink.title}</a
      >
    </div>
  </Wrapper>
</footer>

<style></style>
