---
const block = Astro.props;
const content = block.content;

// map text styles to content.style
const textStyles = {
  headlight: "fd-headlight",
  headbold: "fd-headbold",
  subbold: "fd-subbold",
  sublight: "fd-sublight",
  copy: "fd-copy",
};
---

<div
  id={block.content.anchor ? block.content.anchor : null}
  class:list={["text", { centered: block.layout == "1/2" }]}
>
  <div class={textStyles[content.style]} set:html={content.text} />
</div>

<style>
  .centered {
    @screen md {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }

  .text + .text {
    margin-top: 3rem;

    @screen md {
      margin-top: var(--spacing);
    }
  }
</style>
