---
const block = Astro.props;
const content = block.content;
const HeadlineLevel = content.headlinelevel || "h2";
---

<div class="text">
  {
    content.headline && (
      <HeadlineLevel
        class="fd-textheadline mb-6 md:mb-8 lg:mb-12 xl:mb-20"
        set:html={content.headline}
      />
    )
  }
  <div class="fd-text" set:html={content.text} />
</div>

<style>
  .text + .text {
    margin-top: 3rem;

    @screen md {
      margin-top: var(--spacing);
    }
  }
</style>
