---
import CustomPicture from "@components/CustomPicture.astro";

const block = Astro.props;
const isFirstLayout = Astro.props;
const content = block.content;

if (!content.image) {
  return "";
}

const ratio = content.image ? content.image.width / content.image.height : 1;
let sources = [];
let breakpoints = {
  "2700px": content.image.width,
  "2200px": 2700,
  "1600px": 2200,
  "1200px": 1600,
  "900px": 1200,
  "600px": 900,
  "320px": 600,
  "0px": 320,
};

let breakpointsHalf = {
  "2700px": content.image.width / 2,
  "2200px": 1350,
  "1600px": 1100,
  "1200px": 800,
  "900px": 600,
  "600px": 340,
  "320px": 600,
  "0px": 320,
};

sources = Object.entries(
  block.layout === "1/1" ? breakpoints : breakpointsHalf
).map(([breakpoint, width]) => ({
  breakpoint,
  image: content.image,
  ratio: ratio,
  width,
  lazy: !isFirstLayout,
}));
---

<div class="image">
  <CustomPicture
    sources={sources}
    fallback={{ src: content.image.src, width: 1280, ratio: ratio }}
    alt={content.image.alt}
  />
  {
    content.caption && (
      <div class="text-mobile-bu md:text-bu bg-grey-caption inline-flex px-1.5 absolute bottom-0 left-0">{`${content.caption}`}</div>
    )
  }
</div>

<style>
  .image {
    border: 2px solid var(--color-black);
    width: 100%;
    position: relative;

    @screen lg {
      border-width: 4px;
    }

    img {
      width: 100%;
    }
  }
</style>
