---
const block = Astro.props;
const content = block.content;
---

<div class:list={["text", { centered: block.layout == "1/2" }]}>
  <div class:list={[`fd-${content.style}`]} set:html={content.text} />
</div>

<style>
  .centered {
    @screen md {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }

  .text + .text {
    margin-top: 3rem;

    @screen md {
      margin-top: var(--spacing);
    }
  }
</style>
