---
import CustomPicture from "@components/CustomPicture.astro";

const block = Astro.props;
const isFirstLayout = Astro.props;
const content = block.content;

if (!content.image) {
  return "";
}

const ratio = content.image ? content.image.width / content.image.height : 1;
let sources = [];
let breakpoints = {
  "1600px": 2200,
  "900px": 1200,
  "0px": 600,
};

let breakpointsHalf = {
  "1600px": 1200,
  "900px": 600,
  "0px": 600,
};

sources = Object.entries(
  block.layout === "1/1" ? breakpoints : breakpointsHalf
).map(([breakpoint, width]) => ({
  breakpoint,
  image: content.image,
  ratio: ratio,
  width,
  lazy: !isFirstLayout,
}));
---

<div class="image">
  <CustomPicture
    sources={sources}
    fallback={{ src: content.image.src, width: 1200, ratio: ratio }}
    alt={content.image.alt}
  />
  {
    content.caption && (
      <div class="text-mobile-bu md:text-bu bg-grey-caption inline-flex px-1.5 absolute bottom-0 left-0">{`${content.caption}`}</div>
    )
  }
</div>
