---
const block = Astro.props;
const content = block.content;
const HeadlineLevel = content.headlinelevel || "h2";
---

<div>
  {
    content.headline && (
      <HeadlineLevel
        class="fd-textheadline mb-6 md:mb-8 lg:mb-12 xl:mb-20"
        set:html={content.headline}
      />
    )
  }
  <div class="fd-text" set:html={content.text} />
</div>
